@mixin DisplayFlex() {
    display: flex;
    align-items: center;
    justify-content: center;
}

.About {
    padding: 45px;
    @include DisplayFlex;
    margin: 0 auto;
    justify-content: space-around;
    column-gap: 40px;

    @media (min-width: 480px) and (max-width: 768px) {
        flex-direction: column;
    }

    @media (min-width: 320px) and (max-width: 480px) {
        flex-direction: column;
    }
    @media (max-width: 320px){
        flex-direction: column;
    }
    .image {
        margin-top: 40px;

        img {
            width: 100%;
            margin-bottom: 15px;
        }
    }

    .About-right {
        .About-content {
            h2 {
                width: 100%;
                font-family: 'Roboto';
                margin-bottom: 25px;

                @media (min-width: 480px) and (max-width: 768px) {
                    text-align: center;
                }
                @media (min-width: 320px) and (max-width: 480px) {
                    text-align: center;
                }
                @media (max-width: 320px){
                    text-align: center;
                }
            }

            p {
                width: 70%;
                font-family: 'Roboto';
                margin-bottom: 35px;
                @media (min-width: 480px) and (max-width: 768px){
                    text-align: center;
                }
                @media (min-width: 320px) and (max-width: 480px){
                    @include DisplayFlex;
                    margin: 0 auto;
                    margin-bottom: 15px;
                }
                @media (max-width: 320px){
                    @include DisplayFlex;
                    margin: 0 auto;
                    margin-bottom: 15px;
                    width: 100%;
                }
            }

            @media (min-width: 480px) and (max-width: 768px) {
               @include DisplayFlex;
               flex-direction: column;
               text-align: center;
            }
        }

        .btns {
            display: flex;
            column-gap: 10px;
            @media (min-width: 480px) and (max-width: 768px){
                @include DisplayFlex;
            }
            .btn-read-more {
                color: #fff;
                width: 150px;
                height: 40px;
                background-color: #ff4f5a;
                border: none;

                &:hover {
                    border: 1px solid #ff4f5a;
                    background-color: transparent;
                    color: #ff4f5a;
                }
                @media (max-width: 320px){
                    margin-bottom: 15px;
                }
                @media (max-width: 320px){
                    width: 125px;
                }
            }

            .btn-hire {
                color: #fff;
                width: 150px;
                height: 40px;
                background-color: #1a2e35;
                border: none;

                &:hover {
                    background-color: transparent;
                    border: 1px solid #1a2e35;
                    color: #1a2e35;
                }
                @media (max-width: 320px){
                    width: 125px;
                }
            }
        }
    }
}