.testimonial {
    margin-top: 100px;
    h1{
        text-align: center;
    }
    .col{
        width: 65%;
        height: 100%;
        padding: 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    }
    .pe-2 {
        font-size: 40px;
        color: #000;
    }
}